body {
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  background: #eee;
  box-sizing: border-box;
  font: 16px/1.25 arial, sans-serif;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 0.875rem;
}

p,
figure {
  margin: 0;
}

figure {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

figcaption {
  margin: 0.5rem;
}

canvas {
  display: inline-block;
}

.black {
  background: #000;
}

.white {
  background: #fff;
}

.is-iframe {
  overflow: hidden;
}

.is-iframe figure {
  top: 0;
  left: 0;
  transform: none;
}

.is-iframe figcaption {
  display: none;
}

